.dtb-card-content {
  display: flex;
}

.dtb-card-header {
  width: 35%;
}

.dtb-card-text {
  width: 65%;
  padding-left: 24px;
}

.dtb-card-header img {
  border-radius: 50%;
  max-width: 100%;
  margin: 0 auto;
}

.dtb-card-header .dtb-avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.dtb-test:nth-child(even) .dtb-card-text {
  order: 1;
  padding-left: 0;
  padding-right: 24px;
}
.dtb-test:nth-child(even) .dtb-card-header {
  order: 2;
}

.dtb-test:nth-child(even) h4 {
  text-align: right;
}

@media (max-width: 450px) {
  .dtb-card-header {
    width: 100%;
  }
}

@media (max-width: 730px) {
  .dtb-card-content {
    flex-direction: column;
  }

  .dtb-teammember-name {
    text-align: center;
  }

  .dtb-card-header {
    width: 70%;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  .dtb-card-text {
    width: 100%;
    padding: 0;
  }

  .dtb-test:nth-child(even) .dtb-card-text {
    order: 2;
    padding-left: 0;
    padding-right: 0;
  }
  .dtb-test:nth-child(even) .dtb-card-header {
    order: 1;
  }

  .dtb-test:nth-child(even) h4 {
    text-align: center;
  }
}