nav .brand-logo {
  font-size: 1.3rem;
}

nav {
  background-color: rgba(0,0,0,.5);
  box-shadow: none;
}

.page-footer {
  background-color: transparent;
}

.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
  float: none;
}

.side-nav .user-view, .side-nav .userView {
  background-image: linear-gradient(45deg, #1ec7b2 15%, #d83be2 85%);
}
