.pagination li.active {
  background-color: rgba(0,0,0,.2);
}
.pagination li span {
  color: #444;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0 10px;
  line-height: 30px;
}

.pagination li:first-child span,
.pagination li:last-child span,
.pagination li:first-child a,
.pagination li:last-child a {
  padding: 0;
  line-height: 27px;
}