header.admin-header {
  height: 80px;
  border-bottom: 1px dotted black;
  margin-bottom: 15px;
  h4 {
    line-height: 80px;
  }
}


.dtb-wrapper {
  input, textarea {
    border-bottom: 1px solid lighten(#26a69a, 10%) !important;
    &.invalid {
      border-bottom: none !important;
    }
    &.invalid:focus {
      border-bottom: 1px solid #F44336 !important;
    }
  }
}

.materialize-textarea {
  &.high-textarea {
    min-height: 20rem;
  }
}
